.bs-example-modal-lg {
	.header-margin {
		margin: 0 36px;
		padding-left: 0;
		padding-right: 0;
	}
	.heading-group {
		font-size: 14px;
		margin: 30px 36px 20px;
		.title-nm-21 {
			margin-bottom: 20px;
		}
		.close {
			margin-top: -20px;
			margin-right: -20px;
		}
	}
	.modal-body-padding{
		padding: 0 36px 20px;
	}
	.modal-content {
		position: relative;
	}
	.modal-lg {
		width: 935px;
	}
	&.popup-has-right{
		.modal-lg{
			font-size: 0;
			overflow: hidden;
			margin: 30px auto;
			max-width: 1280px;
			min-width: 1040px;
			text-align: center;
			width: auto;
		}
		.modal-content {
			display: inline-block;
			font-size: 14px;
			*margin-right: .3em;
			max-width: 890px;
			padding-bottom: 60px;
			text-align: left;
			vertical-align: top;
			&.profile-member-detail {
				padding-bottom: 10px;
			}
		}
		.panel-collapse {
			display: none;
			max-width: 380px;
			overflow: hidden;
			&.in {
				display: block;
			}
			.panel-body {
				background-color: #fff;
			}
		}
		.right-group-link {
			display: inline-block;
			font-size: 14px;
			*margin-right: .3em;
			margin-left: -2px;
			overflow: hidden;
			min-width: 140px;
			text-align: left;
			vertical-align: top;
			width: auto;
		}
		.nav-popup {
			float: left;
			overflow: hidden;
			padding-top: 30px;
			.item {
				clear: both;
				float: left;
				overflow: hidden;
			}
		}
	}
	.send-cv-popup {
		.form-content-padding {
			padding: 0 20px 30px;
		}
	}
	.save-search-footer {
		.btn-line-organge {
			float: right;
			margin-left: 25px;
		}
		.select-save {
			float: right;
			margin-left: 10px;
			margin-top: 6px;
		}
		.desc {
			overflow: hidden;
			font-size: 13px;
			margin-top: 14px;
		}
	}
}
.modal-w600 {
	.modal-dialog {
		max-width:600px;
	}
	.close-position {
		position: absolute;
		right: 20px;
		top: 20px;
		z-index: 20;
	}
}
	
.dropdown {
	.btn-clear {
		background: transparent;
		border: 0 none transparent;
		.border-radius(0);
		.box-shadow(none);
		margin:0;
		padding:0;
	}
}

/*
 * jQuery UI Datepicker @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */

/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #d9d6c4; background: #eceadf url(images/ui-bg_fine-grain_10_eceadf_60x60.png) 50% 50% repeat; color: #1f1f1f; }
.ui-widget-content a { color: #1f1f1f; }
.ui-widget-header { border: 1px solid #d4d1bf; background: #ffffff url(images/ui-bg_fine-grain_15_ffffff_60x60.png) 50% 50% repeat; color: #453821; font-weight: bold; }
.ui-widget-header a { color: #453821; }

.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:16px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

.pagination > li > a, .pagination > li > span {
	
	color: #333;
	font-size: 14px;
	font-weight: 700;
	margin: 0 5px;
	&:hover {
		background-color: #fff;
		color: #f15000;
	}
}
.pagination > li:first-child > a, .pagination > li:first-child > span ,.pagination > li:last-child > a, .pagination > li:last-child > span{
	.border-radius(0);
	color: #828282;
	&:hover {
		background-color: #fff;
		color: #f15000;
	}
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #f15000;
	border-color: #f15000;
	color: #fff;
}