/* font family*/
@font-pt-san: 'Roboto', sans-serif;

@body-color: #f7f7f7;
@color-link-hv: #f15000;
@color-link: #f15000;
@color-default : #333;
@border-color: #eaeaea;
@atr-trans : transparent;
@red-color: #cf0000;
@color-success: #9ed14d;
@color-error: #e50000;
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, strong, dl, dt, dd, li, fieldset,
form, label, legend {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
}
:focus {
	outline: 0;
}

img {
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
html {
	height: 100%;
	min-height: 100%;
}
body {
	background-color: @body-color;
	font-family: @font-pt-san;
	font-weight: 400;
	font-size: 12px;
	color: @color-default;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	min-height: 100%;
}

body, html {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #616161;
}

a {
	color: @color-default;
	&:focus {
		outline: none;
	}
	 &:link, &:visited {
		color: @color-default;
	 }
	&:hover, &:focus   {
		text-decoration: none;
		color: @color-link-hv;
	}

}


/* Background placehold for image */
img[alt] {
	&:extend(.bg-placeholder-loading);
}

/* Form */
	textarea.form-control {
		resize: none;
	}
	
/* Remove blue border from css custom-styled button in chrome */
	button:focus {
		outline: 0 !important;
	}
	.btn:active, .btn.active {
		box-shadow: none !important;
	}

	button, input[type=submit] {
		&:focus, &:active {
			box-shadow: none !important;
		}
	}
	.btn-group.open .dropdown-toggle {
		box-shadow: none !important;
		background-color: #fff;
	}
	.btn-group .dropdown-toggle {
		&:hover, &:focus {
			background-color: #fff;
		}
	}

/* Set cursor pointer on input file */
::-webkit-file-upload-button {
	cursor:pointer;
}

.clear{clear:both}

// Clearfix
.clearfix {
	&:before,
	&:after {
		display: table;
		content: " ";
	}

	&:after {
		clear: both;
	}
}

// Ellipsis to point out text
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recruitment-category ,.sitemap-list ,.menu-left ,.list-filters ,.radio-list ,.check-list ,.business-list ,.nav-popup {
	list-style: none;
	margin: 0;
	padding: 0;
}