.footer-sosical {
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	.item {
		display: inline-block;
		margin: 0 5px;
	}
}

.intro-signup ,.list-intro {
	list-style: none;
	margin: 0;
	padding: 0;
	.item {
		padding: 14px 0;
	}
	.intro-block {
		font-size: 15px;
		padding-left: 55px;
		position: relative;
		.title-sm {
			font-size: 14px;
		}
		a.title-sm:hover {
			color: #f15000;
		}
		.title{
			color: #f15000;
			font-weight: 700;
			line-height: 21px;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		.left-icon {
			left:0;
			position: absolute;
			top:10px;
		}
	}
	&.intro-sm {
		.item {
			padding: 8px 0;
		}
		.intro-block {
			padding-left: 32px;
			.left-icon {
				top: 0;
			}
		}
	}
}
.top-nav-content {
	font-size: 0;
	list-style: none;
	margin: 0 0 -1px;
	padding: 0;
	text-align: left;
	width: 100%;
	.nav-link {
		border-bottom: 2px solid transparent;
		display: block;
		min-width: 180px;
		padding: 10px 15px;
		text-transform: uppercase;
		text-align: center;
		.iconsbt-left {
			margin-right: 5px;
		}
	}
	.active {
		.nav-link {
			border-color: @color-link;
			color: @color-link;
		}
	}
	.item {
		display: inline-block;
		font-size: 13px;
	}
}
.main-container-cus {
	.top-nav-content {
		border-bottom: 1px solid #e5e5e5;
		padding-top: 10px;
		width: 100%;
	}
}
.sub-nav {
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: -1px;
	width: 100%;
	.top-nav-content {
		border-bottom: 0 none transparent;
		padding-top: 10px;
	}
}

.header-title {
	border-bottom: 1px solid #e5e5e5;
	color: #999;
	font-size: 14px;
	padding: 25px 0;
	.title-nm-21 {
		margin-bottom: 10px;
	}
}
.media-table {
	background-color: #fff;
	border: 1px solid #ebebeb;
	color: #333;
	display: table;
	font-size: 13px;
	line-height: 19px;
	position: relative;
	table-layout: fixed;
	width: 100%;
	.heading {
		font-size: 16px;
		font-weight:600;
		margin-bottom: 6px;
	}
	.description-heading {
		font-size: 11px;
	}
	.media-row {
		display: table-cell;
		padding: 18px;
		vertical-align: middle;
	}
	.first-block {
		width: 12%;
	}
	.right-block {
		width: 20%;
		.desc-grey {
			margin-top: 4px;
		}
	}
	.w26 {
		width: 26%;
	}
	.w25 {
		width: 25%;
	}
	.w10 {
		width: 10%;
	}
	.w14 {
		width: 14%;
	}
	.line-left {
		background-color: #f26522;
		display: block;
		height: 42px;
		left: 0;
		margin-top: -21px;
		position: absolute;
		top: 50%;
		width: 2px;
		&.green-line {
			background-color: #00e676;
		}
		&.pink-line {
			background-color: #e91e63;
		}
		&.blue-dark-line {
			background-color: #311b92;
		}
		&.blue-line {
			background-color: #0277bd;
		}
		&.violet-line {
			background-color: #673ab7;
		}
		&.orange-line {
			background-color: #f26522;
		}
	}
	&.search-result-tb {
		font-size: 11px;
		.heading-b {
			font-weight: 700;
			margin-bottom: 5px;
		}
		.btn-group-lg .btn-default {
			font-size: 11px;
			height: 30px;
			padding: 6px 14px;
			text-transform: uppercase;
			&.btn-edit {
				background-color: #ffa766;
				border-color: #f59e5c;
				color:#fff;
			}
			&:hover {
				background-color: darken(#ffa766,10%);
				border-color: darken(#f59e5c,10%);
				color:#fff;
			}
		}
	}
}
.media-section {
	background-color: #fff;
	.border-radius(4px);
	.box-shadow(~"0 1px 3px 0 rgba(0, 0, 0, 0.12);");
	text-align: center;
	.image-content {
		display:block;
		margin-bottom: 18px;
	}
	.heading {
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		margin-bottom: 6px;
		.txt-link {
			color: #333;
			&:hover {
				color: #f14e01;
			}
		}
	}
	.description {
		margin-bottom: 12px;
	}
	.main-content {
		color: #333;
		font-size: 11px;
	}
}
.recruitment-category {
	.item {
		padding: 10px 0;
	}
	.media-table{
		.box-shadow(~"0 1px 3px 0 rgba(0, 0, 0, 0.12);");
	}
	.item-media {
		margin-bottom: 20px;
		min-height: 290px;
		text-align: center;
	}
	.media-section {
		padding: 25px 25px 20px;
	}
}
.search-result {
	padding-bottom: 20px;
	padding-top: 16px;
	.recruitment-category .item {
		padding: 2px 0;
	}
}
.welcom-new-mb {
	background: url(../images/bg-cv.jpg) no-repeat center bottom #fff;
	background-size: cover;
	border: 1px solid #e4e4e4;
	min-height: 265px;
	padding: 30px 90px;
	.desc-main {
		font-size: 18px;
		margin-bottom: 12px;
		margin-top: 22px;
	}
	.desc-fixwidth {
		margin: 0 auto 20px;
		width: 450px;
	}
	.txt-16 {
		font-size: 16px;
		line-height: 25px;
	}
}
.heading-content {
	padding: 40px 0 16px;
	.desc-heading {
		font-size: 15px;
		font-weight: 700;
	}
}
.list-filters {
	margin: 0 -4px;
	font-size: 0;
	.item {
		display: inline-block;
		font-size: 14px;
		margin: 4px;
	}
}
.pagination-right-ct {
	text-align: right;
}
/*************** left menu **********************/
.wage-levels-content {
	.salary-scale-au {
		display: block;
		height: 34px;
		position: relative;
		width: 100%;
		.slr-item {
			display: inline-block;
			font-size: 12px;
			height: 100%;
			line-height: 34px;
			position: absolute;
		}
		.v0 {
			left: 0;
		}
		.v1 {
			left: 10%;
		}
		.v2 {
			left: 25%;
		}
		.v3 {
			left: 40%;
		}
		.v4 {
			left: 55%;
		}
		.v5 {
			left: 70%;
		}
		.v6 {
			right: 0;
		}
	}
	.salary-slider-container {
		margin-top: 10px;
		position: relative;
		.noUi-handle {
			background-color: #00c853;
			.border-radius(3px);
			height: 20px;
			position: absolute;
			top: 4px;
			width: 20px;
			z-index: 3;
		}
		.noUi-lowerHandle {
			left: 4px;
		}
		.noUi-upperHandle {
			left: 0;
		}
		.noUi-midBar {
			background-color: #f15000;
			height: 100%;
			width: 0;
		}
		.salarySlider {
			background-color: #f2f2f2;
			.border-radius(3px);
			height: 28px;
			padding: 8px 4px;
			position: relative;
		}
	}
}
.menu-block {
	position: relative;
	.btn-menu {
		background-color: #fff;
		border: 1px solid #e9e9e9;
		color: #333;
		display: block;
		font-size: 12px;
		height: 100px;
		padding: 20px 14px 16px;
		position:relative;
		text-align: center;
		text-transform: uppercase;
		z-index: 20;
		.text-nav {
			display: inline-block;
			margin-top: 14px;
			width: 100%;
		}
	}	
	.dropright-content {
		left: 100%;
		margin-left: -4px;
		.opacity(0);
		padding-left: 4px;
		position: absolute;
		.transition(~"all .3s ease");
		top: 0;
		z-index: -1;
		&.dropright-content-bottom {
			top: auto;
			bottom: 0;
		}
	}
	.main-horz-content {
		background-color: #fff;
		border: 1px solid #e9e9e9;
		border-left: 0 none transparent;
		min-height: 100px;
		min-width: 240px;
		padding: 20px 10px 20px 20px;
		width: auto;
		&.width-max {
			min-width: 486px;
		}
		&.form-nav-content {
			max-height: 564px;
			max-width: 265px;
			padding-right: 20px;
		}
	}
	.radio-list ,.check-list {
		.radio-block ,.check-block {
			padding: 6px 0;
			.radio-style, .checkbox-style {
				position: absolute;
				top: 0;
				left: 0;
			}
			.activ-org-txt {
				padding-left: 26px;
				width: 100%;
			}
		}

	}
	.desc-pp {
		font-size: 15px;
		font-weight: 700;
	}
	.height-scroll {
		max-height: 190px;
		padding-right: 20px;
		width: 100%;
	}
	&:hover ,.active {
		.btn-menu {
			border-right-color: #fff;
			color: @color-link;
		}
		.dropright-content {
			.opacity(1);
			z-index: 12;
		}
	}
}
.menu-left {
	.menu-item {
		margin-top: -1px;
	}
	.nano > .nano-content {
		width: auto;
	}
}

.thumb-business {
	font-size: 12px;
	padding-bottom: 15px;
	padding-top: 15px;
	.desc {
		color: #999;
		margin-top: 4px;
	}
	.caption {
		padding-top: 10px;
	}
}

.section-paragrap {
	color: #333;
	font-size: 13px;
	line-height: 19px;
	padding-bottom: 15px;
	text-align: justify;
	.desc-14 {
		color: #333;
		font-size: 14px;
	}
	.title-paragrap {
		border-bottom: 2px solid #a3a3a3;
		color: #333;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 15px;
		padding-bottom: 8px;
	}
	.description {
		margin-bottom: 4px;
	}
	.content-step {
		background: url("@{base-url-icon}/bg-line.png") no-repeat 16px 0;
		font-size: 13px;
		position: relative;
		padding: 0;
		margin: 0;
		list-style: none;
		.title {
			color: #333;
			font-size: 14px;
		}
		.item {
			padding:13px 20px 13px 56px;
			position: relative;
			z-index: 2;
			&:before {
				background-color: #58585a;
				border: 2px solid #fff;
				.border-radius(50%);
				content: "";
				height: 14px;
				left: 14px;
				position: absolute;
				top: 36px;
				width: 14px;
			}
		}
		&:after {
			background: url("@{base-url-icon}/bg-line-ft.png") no-repeat 16px bottom;
			bottom: 0;
			content: "";
			height: 15px;
			left: 0;
			position: absolute;
			width: 50px;
			z-index: 2;
		}
	}
	.paragrap-list {
		font-size: 14px;
		line-height: 21px;
		padding: 0;
		margin: 0;
		list-style: none;
		.item {
			padding:2px 10px 2px 16px;
			position: relative;
			&:before {
				background-color: #9b9b9c;
				.border-radius(50%);
				content: "";
				height: 11px;
				left: 0;
				position: absolute;
				top: 50%;
				margin-top: -6px;
				width: 11px;
			}
		}
	}
	.image-list {
		font-size: 0;
		padding: 0;
		margin: 0 -5px;
		list-style: none;
		text-align: center;
		.item {
			display: inline-block;
			padding: 6px 12px;
		}
		&.image-list-ml30 {
			margin: 0 -14px;
			.item {
				padding: 0 14px;
			}
		}
	}
	.list-skill {
		padding: 0;
		margin: 0;
		list-style: none;
		label{
			display:inline-block;
			float: left;
			padding-right: 5px;
			width: 160px;
		}
		.dot-vl {
			background-color: #58585a;
			display: inline-block;
			.border-radius(50%);
			height: 12px;
			vertical-align: middle;
			width: 12px;
			&.dot-grey {
				background-color: #d1d2d4;
			}
		}
		.group-value {
			overflow: hidden;
		}
		.item {
			font-size: 14px;
			font-weight: 700;
			overflow: hidden;
			padding: 2px 0;
		}
	}
	.certification-list {
		font-size: 13px;
		padding: 0;
		margin: 0;
		list-style: none;
		.title {
			color: #333;
			font-size: 14px;
		}
		.item {
			padding:13px 20px 13px 56px;
			position: relative;
			z-index: 2;
			&:before {
				background: url("@{base-url-icon}/bg-sprite.png") no-repeat -180px -154px;
				content: "";
				height: 44px;
				left: 0;
				position: absolute;
				top: 20px;
				width: 34px;
			}
		}
	}
}

.block-extra-business {
	.image-center {
		border-bottom: 1px solid #f2f2f2;
		display: block;
		text-align: center;
	}
	.block-main-ct {
		border: 1px solid #f2f2f2;
	}
	.title-b-16 {
		margin-bottom: 5px;
		.text-link {
			color: #333;
			&:hover {
				color: @color-link;
			}
		}
	}
	.caption {
		color: #333;
		min-height: 100px;
		padding: 16px;
	}
	.block-main-ct {
		margin-bottom:6px;
	}
	.desc-grey ,.desc {
		font-size: 11px;
	}
}

.list-group-cus {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	.border-radius(5px);
	margin:0;
	padding: 5px 20px;
	list-style: none;
	.txt-badge {
		color: #858585;
		font-size: 13px;
		font-weight: 700;
		float: right;
	}
	.text-link {
		color: #333;
		display:block;
		font-size: 13px;
		font-weight: 700;
		padding: 20px 0;
		text-transform: uppercase;
		&:before,&:after {
			 content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
		&:hover {
			color: #f25103;
		}
	}
	.item {
		border-top: 1px solid #e5e5e5;
		&:first-child {
			border-top: 0 none transparent;
		}
		&.active {
			.text-link {
				color: #f25103;
			}
		}
	}
}
.profile-member-detail {
	.heading-group {
		.image-content {
			float: right;
			margin-left: 15px;
		}
		.header-info-ct {
			overflow:hidden;
			.modal-title {
				font-size: 30px;
			}
			.desc-blue {
				color: #2962ff;
				font-size: 18px;
				font-weight: 700;
			}
		}
		.contact-ct {
			max-width: 380px;
			margin-top: 25px;
			.left {
				color: #333;
				font-weight: 700;
				font-size: 13px;
				float:left;
				padding-right: 15px;
				white-space: nowrap;
			}
			.right {
				float: right;
				margin-left: 15px;
				width: 68px;
			}
			.center {
				overflow: hidden;
				.desc {
					color: #333;
					font-size: 13px;
					margin-bottom: 4px;
					.text-link {
						color: #333;
						&:hover {
							color: @color-link
						}
					}
				}
			}
		}
	}
}