
.footer {
	background-color: #575757;
	padding: 40px 0;
	color: #ffffff;
	font-size: 12px; 
	line-height: 21px;
}
.footer a {
	color: #ffffff;
	text-decoration: none;
}
.footer .left-border {
	border-left: 1px solid #676767;
	height: 100%;
}
