.radio-inline {
	padding-left: 0;
	+ .radio-inline {
		margin-left: 15px;
	}
}
.radio-inline, .checkbox-inline {
	font-size: 15px;
}
.radio-style {
	background-color: #fff;
	display: inline-block;
	height: 18px;
	margin-right: 5px;
	position: relative;
	vertical-align: top;
	width: 18px;
	border: 1px solid @border-color;
	border-radius: 50%;
	.box-shadow(~"inset 0 1px 0px rgba(0,0,0,.3)");
	&:after {
		content: '';
		background: #FFF;
		left: 50%;
		top: 50%;
		margin-top: -4px;
		margin-left: -4px;
		position: absolute;
		opacity: 0;
		border-radius: 50%;
		width: 8px;
		height: 8px;
	}
}
input[type="radio"]:checked ~ .radio-style,
input[type="checkbox"]:checked ~ .checkbox-style {
	background-color: @color-link;
	border: 1px solid @color-link;
	.box-shadow(none);
	&:after {
		opacity: 1;
	}
}
.checkbox-style {
	&:extend(.radio-style);
	.border-radius(0);
	&:after {
		content: "\e013";
		font-family: "Glyphicons Halflings";
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		color: #FFF;
		font-size: 11px;
		line-height: 11px;
		.translate(-50%, -50%);
	}
	.checkbox-fl & {
		float: left;
		margin-right: 10px;
	}
}
.checkbox-fl {
	.text, .ovh {
		overflow: hidden;
	}
}
.activ-org-txt {
	input[type="radio"]:checked ~ .radio-style ,
	input[type="checkbox"]:checked ~ .checkbox-style {color: @color-link}
	padding-left:0;
}
.main-form {
	.label-tt {
		font-size: 15px;
		font-weight: 700;
		line-height: 29px;
		margin-bottom: 12px;
		.note {
			color: #999;
			font-size: 13px;
			font-weight: 400;
		}
	}
	.form-control {
		font-size: 15px;
		height: 38px;
	}
	.form-group {
		margin-bottom: 15px;
	}
	.error-mess {
		margin-top: 5px;
	}
	.has-error {
		.label-tt ,.error-mess {
			color: @color-error;
		}
		.form-control {
			border-color: @color-error;
		}
	}
	.area-text-114 {
		height: 114px;
	}
	.form-group-button {
		padding-top: 30px;
		.btn-default {
			margin-left: 25px;
		}
	}
	.datapicker-form {
		position: relative;
		.ui-datepicker-trigger {
			position: absolute;
			right: 10px;
			top:8px;
			z-index: 2;
		}
	}
	.desc-right {
		display: inline-block;
		float: right;
		margin-top: 8px;
		text-align: right;    
	}
	.form-group-330 {
		width: 330px;
	}
	.tags-form {
		position: relative;
		.tm-input {
			padding-right: 20px;
		}
		.btn-addtag {
			bottom: 0;
			color: #f15000;
			cursor: pointer;
			display: inline-block;
			height: 38px;
			padding: 12px 5px;
			position: absolute;
			right: 0;
			width: 30px;
			.ficons-plus {
				vertical-align: top;
			}
		}
	}
	.section-form-width-sm {
		margin: 0 auto 20px;
		width: 330px;
	}
	.section-form-width-02 {
		margin: 0 auto 20px;
		width: 600px;
	}
	.btn-full {
		width: 100%;
	}
	&.form-search-mn {
		.input-sf {
			position: relative;
			.form-control {
				height: 42px;
				padding: 10px 15px;
				position: relative;
				width: 320px;
			}
			.btn-org {
				background-color: @color-link;
				border: 0 none transparent;
				.border-radius(0);
				color: #fff;
				font-size: 17px;
				height: 32px;
				padding: 5px 10px;
				position: absolute;
				right: 5px;
				top: 5px;
				width: 35px;
			}
			&.has-btn-right {
				.form-control {
					padding-right: 45px;
				}
			}
		}
		.radio-list ,.check-list {
			.radio-block ,.check-block {
				padding: 6px 0;
			}
		}
	}
	&.cv-form-popup {
		.label-tt {
			line-height: 23px;
			margin-bottom: 5px;
		}
		.form-group {
			margin-bottom: 10px;
			
		}
		.desc-right {
			margin-top: 0;
		}
		.spc-form-group{
			.btn-upload {
				min-width: 142px;
				text-align: left;
				width: 100%;
				.ficons-upload-2 {
					margin-right: 10px;
					margin-top: 4px;
					vertical-align: top;
				}
			}
		}
	}
	&.search-left-nav-form {
		.label-tt {
			font-size: 13px;
			line-height: 17px;
			margin-bottom: 8px;
		}
		.form-control {
			font-size: 13px;
			height: 28px;
			padding: 2px 10px;
		}
		.form-group {
			margin-bottom: 10px
		}
		.form-inline {
			.label-small{
				color: #7a7a7a;
				display: inline-block;
				font-size: 11px;
				margin-right: 4px;
				max-width: 100%;
				text-transform: uppercase;
				vertical-align: middle;
			}
			.form-control {				
				display: inline-block;
				vertical-align: middle;
				width: 60px;
			}
		}
	}
}
.save-search-form {
	border: 1px solid #dfdfdf;
	height: 360px;
	.form-group-top {
		border-bottom: 1px solid #dfdfdf;
		.form-control {
			border: 0 none transparent;
			width: 100%;
		}
		&.tags-form {
			position: relative;
			.tm-input {
				padding-right: 20px;
			}
			.btn-addtag {
				bottom: 0;
				color: #a6a6a6;
				cursor: pointer;
				display: inline-block;
				height: 38px;
				padding: 12px 5px;
				position: absolute;
				right: 0;
				width: 30px;
				.ficons-plus {
					vertical-align: top;
				}
			}
		}
	}
	&.height-auto {
		height: auto;
	}
	.title-label{
		font-size: 13px;
		font-weight: 700;
		margin-bottom: 15px;
	}
	.form-search-mn {
		height: 275px;
		padding: 14px;
		.checkbox-inline {
			font-size: 13px;
			padding-left: 26px;
			position: relative;
			.checkbox-style {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}
.search-box {
	background-image: url(../images/slide.jpg);
	background-position: top center;
	background-size: 100%;
	height: 580px;
}
.search-box #brand {
	padding-top: 120px;
	padding-bottom: 20px;
}
.search-box h2 {
	color: #ffffff;
	font-weight: 300;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
}
.search-form {
	background-color: #2c2a29;
	padding: 15px 0;
}
.search-form .btn-group-lg > .btn, .search-form .btn-lg {
	border-radius: 0;
	color: #f57c00;
	font-size: 15px;
	font-weight: 900;
	line-height: 26px;
	border: 1px solid #f57c00;
}
.form-group {
	margin-bottom: 0;
}
.form-control {
	border-radius: 0;
}
.jumbotron {
	padding: 0;
	margin-bottom: 0;
}

.form-content {
	.title-25 {
		margin-bottom: 16px;
	}
	.section-form-group {
		border-bottom: 1px solid #e5e5e5;
		padding: 20px 0 10px;
		.title-org-17 {
			margin-bottom: 16px;
		}
	}
}
.form-content-padding {
	padding: 0 30px 30px;
}

.form-content-padding20 {
	padding: 0 20px;
}
