.navbar {
	margin-bottom: 0;
	min-height: 0;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.22);
}
.navbar-default {
	background-color: #ffffff;
	border-radius: 0;
	border: 0;	
	color: #282828;
	font-size: 14px;
	line-height: 26px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #ffffff;
	border-bottom: 1px solid #f15000;
}

.dropdown-user-hd {
	padding-top: 8px;
}