@base-url-icon: "../images";
[class^="ficons-"], [class*="ficons-"] {
	display: inline-block;
	*margin-right: .3em;
	background-image: url("@{base-url-icon}/bg-sprite.png");
	background-position: 0;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.ficons-user {background-position: 0 0; height:31px; width:35px;}
.ficons-mail {background-position: -41px 0; height:28px; width:35px;}
.ficons-star {background-position: -80px 0; height:34px; width:35px;}
.ficons-list {background-position: -127px 0; height:38px; width:30px;}
.ficons-account {background-position: -172px 0; height:31px; width:31px;}
.ficons-upload {background-position: -214px 0; height:13px; width:15px;}

.ficons-eye {background-position: -241px 0; height:12px; width:18px;}
.ficons-save {background-position: -271px 0; height:15px; width:15px;}
.ficons-upload-02 {background-position: -298px 0; height:18px; width:18px;}
.ficons-calendar {background-position: 0 -50px; height:21px; width:21px;}
.ficons-plus {background-position: -214px -20px; height:12px; width:12px;}

.ficons-profile {background-position: -236px -22px; height:42px; width:59px;}

.ficons-search {background-position: -32px -48px; height:17px; width:12px;}
.ficons-save-02 {background-position: -55px -48px; height:17px; width:13px;}
.ficons-plus-02 {background-position: -81px -48px; height:17px; width:11px;}
.ficons-news {background-position: -108px -48px; height:17px; width:17px;}
.ficons-group {background-position: -135px -48px; height:17px; width:19px;}
.ficons-setting {background-position: -166px -48px; height:17px; width:17px;}

.ficons-calendar-02 {background-position: 0 -152px; height:30px; width:28px;}
.ficons-search-02 {background-position: -37px -152px; height:30px; width:25px;}
.ficons-suitcase-02 {background-position: -70px -152px; height:30px; width:31px;}
.ficons-star-02 {background-position: -109px -152px; height:30px; width:27px;}
.ficons-usd-02 {background-position: -151px -152px; height:30px; width:15px;}
.ficons-experience {background-position: -108px -259px; height:32px; width:54px;}
.ficons-extend {background-position: -187px -259px; height:33px; width:35px;}

.ficons-delete {background-position: -200px -49px; height:16px; width:12px;}
.ficons-upload-2 {background-position: -226px -72px; height:12px; width:12px;}
.ficons-pdf {background-position: -223px -104px; height:16px; width:16px;}
.ficons-delete-2 {background-position: -250px -72px; height:12px; width:12px;}

.ficons-email-lg {background-position: -237px -145px; height:122px; width:122px;}
.ficons-check-lg {background-position: 0 -239px; height:94px; width:94px;}

a:hover ,.active , .menu-item:hover , button:hover {
	.ficons-search {background-position: -32px -72px;}
	.ficons-save-02 {background-position: -55px -72px;}
	.ficons-plus-02 {background-position: -81px -72px;}
	.ficons-news {background-position: -108px -72px;}
	.ficons-group {background-position: -135px -72px;}
	.ficons-setting {background-position: -166px -72px;}

	.ficons-calendar-02 {background-position: 0 -195px;}
	.ficons-search-02 {background-position: -37px -195px;}
	.ficons-suitcase-02 {background-position: -70px -195px;}
	.ficons-star-02 {background-position: -109px -195px;}
	.ficons-usd-02 {background-position: -151px -195px;}
	.ficons-experience {background-position: -109px -312px;}
	.ficons-extend {background-position: -187px -312px;}


	.ficons-delete {background-position: -200px -71px;}
}


.ficons-intro-01 {background-position: 0 -96px; height: 44px; width: 40px;}
.ficons-intro-02 {background-position: -55px -96px; height: 32px; width: 35px;}
.ficons-intro-03 {background-position: -118px -96px; height: 33px; width: 33px;}
.ficons-intro-04 {background-position: -172px -96px; height: 50px; width: 36px;}

.ficons-user-sm {background-position: -330px 0; height:19px; width:18px;}
.ficons-mail-sm {background-position: -330px -38px; height:15px; width:18px;}
.ficons-star-sm {background-position: -330px -70px; height:20px; width:18px;}
.ficons-list-sm {background-position: -330px -108px; height:22px; width:18px;}
	
	.float-right {
		float: right;
	}
	.image-cicle {
		.border-radius(50%);
	}
	.border-top {
		border-top: 1px solid #e9e9e9;
	}
	.no-border-bottom {
		border-bottom: 0 none transparent !important;
	}
	.border-bottom{
		border-bottom: 1px solid #e5e5e5;
	}
	.bg-transparent {
		background-color: transparent !important;
	}
	.bg-white {
		background-color: #fff;
		padding: 15px;
	}
	.has-border {
		border: 1px solid #e9e9e9;
	}
	.text-link ,a.text-link {
		color: @color-link
	}
	.text-right {
		text-align: right !important;
	}
	.text-center {
		text-align: center !important;
	}
	.text-regular {
		font-weight: 400 !important;
	}
	.text-bold {
		font-weight: 700 !important;
	}
	.text-uppercase {
		text-transform: uppercase;
	}
	.clear-right {
		clear:right
	}
	.desc-orange,a.link-orange{
		color: @color-link;
	}
	.desc-grey{
		color: #999;
	}
	.mb0 {
		margin-bottom: 0 !important;
	}
	.mb10 {
		margin-bottom: 10px !important;
	}
	.mb15 {
		margin-bottom: 15px !important;
	}
	.mb20 {
		margin-bottom: 20px !important;
	}
	.mb25 {
		margin-bottom: 25px !important;
	}
	.mb30 {
		margin-bottom: 30px !important;
	}
	.mb40 {
		margin-bottom: 40px !important;
	}
	.ml0 {
		margin-left: 0 !important;
	}
	.ml8 {
		margin-left: 8px !important;
	}
	.ml25 {
		margin-left: 25px !important;
	}
	.mt5 {
		margin-top: 5px !important;
	}
	.mt10 {
		margin-top: 10px !important;
	}
	.mt15 {
		margin-top: 15px !important;
	}
	.mt30 {
		margin-top: 30px !important;
	}
	.mt180 {
		margin-top: 180px !important;
	}
	.pb10 {
		padding-bottom: 10px !important;
	}
	.pl0 {
		padding-left: 0 !important;
	}
	.pl10 {
		padding-left: 10px !important;
	}
	.pl15 {
		padding-left: 15px !important;
	}
	.pr15 {
		padding-right: 15px !important;
	}
	.pt0 {
		padding-top: 0px !important;
	}
	.pt10 {
		padding-top: 10px !important;
	}
	.pt20 {
		padding-top: 20px !important;
	}
	.pt30 {
		padding-top: 30px !important;
	}


	.title-b-14 {
		font-size: 14px;
		font-weight: 700;
		line-height: 25px;
	}
	.title-b-16 {
		font-size: 16px;
		font-weight: 7500;
		line-height: 25px;
	}
	.title-org-b-15 {
		color: @color-link;
		font-size: 15px;
		font-weight: 700;
		line-height: 25px;
	}
	.title-org-17 {
		color: @color-link;
		font-size: 17px;
		font-weight: 700;
		line-height: 25px;
	}
	.title-18 {
		font-size: 18px;
		font-weight: 500;
		line-height: 25px;
	}
	.title-25 {
		font-size: 25px;
		font-weight: 400;
		line-height: 37px;
	}
	.title-nm-21 {
		color: #333;
		font-size: 21px;
		font-weight: 400;
		line-height: 29px;
	}
	.title-nm-org-27 {
		color: @color-link;
		font-size: 27px;
		font-weight: 400;
		line-height: 33px;
	}
	.title-nm-green-27 {
		color: #00c853;
		font-size: 27px;
		font-weight: 400;
		line-height: 33px;
	}
	.title-25 {
		font-size: 25px;
		font-weight: 400;
		line-height: 37px;
	}

	.btn-full-line-21, a.btn-full-line-21 {
		border-color: @color-link;
		.border-radius(0);
		.box-shadow(none);
		color: @color-link;
		cursor: pointer;
		display: inline-block;
		font-size: 21px;
		font-weight: 700;
		height: 64px;
		padding: 10px 20px;
		text-align: center;
		.transition(~"all .8s ease");
		width: 100%;
		&:hover {
			background-color: @color-link;
			border-color: @color-link;
			color: #fff;
		}
	}
	.btn-line-default,a.btn-line-default {
		background-color: #fff;
		.border-radius(0);
		.box-shadow(none);
		color: #606166;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
		height: 48px;
		min-width: 176px;
		padding: 10px 20px;
		text-align: center;
		.transition(~"all .8s ease");
		.glyphicon-plus {color: @color-link;}
		.iconsbt-left {
			font-size: 23px;
			font-weight:bold;
			margin-right: 16px;
			vertical-align:middle;
			display: inline-block;
			margin-top: -6px;
		}
		&:hover {
			border-color: #e95218;
			color:  #e95218;
		}
		&.btn-line-blue {
			border-color: #2979ff;
			color: #2979ff;
			&:hover {
				border-color: darken(#2979ff, 25%);
				color: darken(#2979ff, 25%);
			}
		}
		&.btn-line-organge {
			border-color: #f15000;
			color: #f15000;
			&:hover {
				border-color: darken(#f15000, 25%);
				color: darken(#f15000, 25%);
			}
		}
	}
	.btn-upload {
		background-color: #fff;
		border: 1px solid #d5d5d5;
		.border-radius(0);
		color: #333;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
		height: 36px;
		min-width: 148px;
		overflow: hidden;
		padding: 6px 14px;
		position: relative;
		text-align: center;
		vertical-align: middle;
		line-height: 1.42857143;
		.transition (background-color .3s ease);
		.ficons-upload {
			margin-right: 16px;
			vertical-align:middle;
			display: inline-block;
			margin-top: -3px;
		}
		.ficon-right {
			float: right;
			margin-top: 4px;
		}
		.ficons-pdf {
			margin-right: 4px;
		}
		.upload-input {
			background: transparent;
			color: transparent;
			cursor: pointer;
			font-size: 50px;
			height: 100%;
			left: 0;
			.opacity(0);
			position: absolute;
			top:0;
			width: 100%;
			z-index: 10;
		}
		&:hover,&:focus {
			background-color: #f5f5f5;
			color: #333;
		}
		&.btn-green {
			border-color: #00c853;
			color: #00c853;
		}
	}
	.btn-org-32 , a.btn-org-32 {
		background-color: @color-link;
		border: 0 none transparent;
		.border-radius(0);
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 13px;
		font-weight: 700;
		height: 40px;
		padding: 4px 15px;
		min-width: 125px;
		text-align: center;
		text-transform: uppercase;
		.transition(~"all .4s ease");
		&:hover {
			background-color: darken(@color-link,6%);
			color: #fff;
		}
	}
	.btn-link-color ,a.btn-org-40 {
		background-color: @color-link;
		border: 0 none transparent;
		.border-radius(0);
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 15px;
		font-weight: 700;
		height: 40px;
		padding: 4px 15px;
		min-width: 200px;
		text-align: center;
		.transition(~"all .4s ease");
		&:hover {
			background-color: darken(@color-link,6%);
			color: #fff;
		}
	}
	.tag-item {
		background-color: #fff;
		.border-radius(3px);
		.box-shadow(~"0 2px 3px 0 rgba(0, 0, 0, 0.1)");
		color: #333;
		display: inline-block;
		font-size: 11px;
		line-height: 14px;
		padding: 8px 30px 8px 8px;
		position: relative;
		text-transform:uppercase;
		.icon-close {
			color: @color-link;
			cursor: pointer;
			margin-top: -5px;
			position: absolute;
			right: 6px;
			top: 50%;
		}
	}
	.btn-link-color ,a.btn-link-color {
		background-color: @color-link;
		border: 0 none transparent;
		.border-radius(0 4px 4px 0);
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
		height: 46px;
		line-height: 35px;
		padding: 6px 16px;
		min-width: 128px;
		text-align: left;
		text-transform: uppercase;
		.transition(~"all .4s ease");
		&:hover {
			
			color: #fff;
		}
		&.btn-orange {
			background-color: @color-link;
			&:hover {
				background-color: darken(@color-link,6%);
			}
		}
		&.btn-violet {
			background-color: #8e24aa;
			&:hover {
				background-color: darken(#8e24aa,6%);
			}
		}
		&.btn-green {
			background-color: #00c853;
			&:hover {
				background-color: darken(#00c853,6%);
			}
		}
		&.btn-blue {
			background-color: #304ffe;
			&:hover {
				background-color: darken(#304ffe,6%);
			}
		}
	}