@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,500italic,700,700italic,900,900italic&subset=latin,latin-ext,vietnamese);

@import "base/lesshat";
@import "base/default";
@import "base/icon-title-button";
@import "base/element";
@import "base/header";
@import "base/footer";
@import "base/form";
@import "base/custome-plugin";

#content {
	padding-top: 52px;
	background-color: #f5f5f5;
}
.body-content {
	background-color: #ffffff;
	border: 1px solid #e9e9e9;
}
.construct {
	padding: 20px 0 40px;
}
.text-block h4 {
	color: #424242;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;	
}
.lastest-news {
	background-color: #f5f5f5;
	padding: 40px 0;
}
.lastest-news .block-head {
	padding-bottom: 40px;
}
.lastest-news .block-title {
	color: #222222;
	font-size: 24px;
	font-weight: 500;
	line-height: 18px; 	
	padding-bottom: 10px;
}
.lastest-news .block-description {
	color: #aeaeae;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}
.lastest-news .readmore {
	padding-top: 40px;
}
.news-block {
	position: relative;
}
.news-block .news-thumbnail {
}
.news-block .news-description {
	position: absolute;
	bottom: 0px;	
}
.news-block .news-title {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;	
	color: #ffffff;
}
.news-block .news-date {
	color: #aeaeae;
	line-height: 48px;
}
.services {
	padding: 40px 0;
}
.services .title {
	color: #f15000;
	font-size: 17px;
	font-weight: 500;	
}
.services .description {
	padding: 20px 0;
	height: 100px;
}

.left-content-signup-pp {
	padding: 15px 25px 20px 35px;
	position: relative;
	.description-bottom {
		font-size: 15px;
		font-weight: 700;
		margin-top: 105px;
		.text-link:hover {
			text-decoration: underline;
		}
	}
}
.right-content-signup-pp {
	height: 100%;
	padding: 20px 30px 30px 10px;
	.form-content {
		border: 3px solid #efefef;
		.border-radius(2px);
		padding: 30px 25px 30px;
	}
}

.main-container-cus {
	.container {
		background-color: #fff;
		width: 920px;
	}
}

.recruitment-content {
	padding: 20px 15px;
}
.service-page {
	background-color: #fff;
	border-top: 1px solid #e9e9e9;
	margin-top: -1px;
}
.search-result-desc {
	font-size: 14px;
	text-align: center;
	.text-strong {
		color: #f15000;
		font-size: 19px;
		font-weight: 700;
	}
}
.main-top-content {
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
	box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.22);
	padding: 14px 0;
	position: relative;
	z-index:22
}
.block-rightct {
	padding-top: 22px;
	.intro-signup {
		margin-bottom: 25px;
	}
}
.content-cols {
	display: table;
	width: 100%;
	.col-150 {
		display: table-cell;
		vertical-align: top;
		width: 150px;
		.menu-left {
			min-width: 135px;
		}
		&.left-nav {
			padding-right: 15px;
		}
		&.right-content {
			padding-left: 15px;
		}
	}
	.col-295 {
		display: table-cell;
		vertical-align: top;
		width: 295px;
		position: relative;
		z-index: 10;
		.block-rightct ,.menu-left {
			min-width: 280px;
		}
		&.left-nav {
			padding-right: 15px;
		}
		&.right-content {
			padding-left: 15px;
		}
	}
	.col-345 {
		display: table-cell;
		vertical-align: top;
		width: 345px;
		position: relative;
		z-index: 10;
		&.left-nav {
			padding-right: 15px;
		}
		.w-345 {
			width: 325px;
		}
	}
	.main-col {
		display: table-cell;
		vertical-align: top;
		width: 10000px;
	}
}
.mess-content {
	font-size: 15px;
	line-height: 21px;
	padding: 50px 65px;
	.desc {
		color: #333;
	}
}
.completed-cv {
	margin: 18px 20px 18px 0;
	.extra-contain {
		padding-bottom: 25px;
		padding-top: 25px;
	}
}

@import "rwd/responsive";
