@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,500italic,700,700italic,900,900italic&subset=latin,latin-ext,vietnamese);
/* font family*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
strong,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
}
:focus {
  outline: 0;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #333333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100%;
}
body,
html {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #616161;
}
a {
  color: #333333;
}
a:focus {
  outline: none;
}
a:link,
a:visited {
  color: #333333;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #f15000;
}
/* Background placehold for image */
/* Form */
textarea.form-control {
  resize: none;
}
/* Remove blue border from css custom-styled button in chrome */
button:focus {
  outline: 0 !important;
}
.btn:active,
.btn.active {
  box-shadow: none !important;
}
button:focus,
input[type=submit]:focus,
button:active,
input[type=submit]:active {
  box-shadow: none !important;
}
.btn-group.open .dropdown-toggle {
  box-shadow: none !important;
  background-color: #fff;
}
.btn-group .dropdown-toggle:hover,
.btn-group .dropdown-toggle:focus {
  background-color: #fff;
}
/* Set cursor pointer on input file */
::-webkit-file-upload-button {
  cursor: pointer;
}
.clear {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recruitment-category,
.sitemap-list,
.menu-left,
.list-filters,
.radio-list,
.check-list,
.business-list,
.nav-popup {
  list-style: none;
  margin: 0;
  padding: 0;
}
[class^="ficons-"],
[class*="ficons-"] {
  display: inline-block;
  *margin-right: .3em;
  background-image: url("../images/bg-sprite.png");
  background-position: 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.ficons-user {
  background-position: 0 0;
  height: 31px;
  width: 35px;
}
.ficons-mail {
  background-position: -41px 0;
  height: 28px;
  width: 35px;
}
.ficons-star {
  background-position: -80px 0;
  height: 34px;
  width: 35px;
}
.ficons-list {
  background-position: -127px 0;
  height: 38px;
  width: 30px;
}
.ficons-account {
  background-position: -172px 0;
  height: 31px;
  width: 31px;
}
.ficons-upload {
  background-position: -214px 0;
  height: 13px;
  width: 15px;
}
.ficons-eye {
  background-position: -241px 0;
  height: 12px;
  width: 18px;
}
.ficons-save {
  background-position: -271px 0;
  height: 15px;
  width: 15px;
}
.ficons-upload-02 {
  background-position: -298px 0;
  height: 18px;
  width: 18px;
}
.ficons-calendar {
  background-position: 0 -50px;
  height: 21px;
  width: 21px;
}
.ficons-plus {
  background-position: -214px -20px;
  height: 12px;
  width: 12px;
}
.ficons-profile {
  background-position: -236px -22px;
  height: 42px;
  width: 59px;
}
.ficons-search {
  background-position: -32px -48px;
  height: 17px;
  width: 12px;
}
.ficons-save-02 {
  background-position: -55px -48px;
  height: 17px;
  width: 13px;
}
.ficons-plus-02 {
  background-position: -81px -48px;
  height: 17px;
  width: 11px;
}
.ficons-news {
  background-position: -108px -48px;
  height: 17px;
  width: 17px;
}
.ficons-group {
  background-position: -135px -48px;
  height: 17px;
  width: 19px;
}
.ficons-setting {
  background-position: -166px -48px;
  height: 17px;
  width: 17px;
}
.ficons-calendar-02 {
  background-position: 0 -152px;
  height: 30px;
  width: 28px;
}
.ficons-search-02 {
  background-position: -37px -152px;
  height: 30px;
  width: 25px;
}
.ficons-suitcase-02 {
  background-position: -70px -152px;
  height: 30px;
  width: 31px;
}
.ficons-star-02 {
  background-position: -109px -152px;
  height: 30px;
  width: 27px;
}
.ficons-usd-02 {
  background-position: -151px -152px;
  height: 30px;
  width: 15px;
}
.ficons-experience {
  background-position: -108px -259px;
  height: 32px;
  width: 54px;
}
.ficons-extend {
  background-position: -187px -259px;
  height: 33px;
  width: 35px;
}
.ficons-delete {
  background-position: -200px -49px;
  height: 16px;
  width: 12px;
}
.ficons-upload-2 {
  background-position: -226px -72px;
  height: 12px;
  width: 12px;
}
.ficons-pdf {
  background-position: -223px -104px;
  height: 16px;
  width: 16px;
}
.ficons-delete-2 {
  background-position: -250px -72px;
  height: 12px;
  width: 12px;
}
.ficons-email-lg {
  background-position: -237px -145px;
  height: 122px;
  width: 122px;
}
.ficons-check-lg {
  background-position: 0 -239px;
  height: 94px;
  width: 94px;
}
a:hover .ficons-search,
.active .ficons-search,
.menu-item:hover .ficons-search,
button:hover .ficons-search {
  background-position: -32px -72px;
}
a:hover .ficons-save-02,
.active .ficons-save-02,
.menu-item:hover .ficons-save-02,
button:hover .ficons-save-02 {
  background-position: -55px -72px;
}
a:hover .ficons-plus-02,
.active .ficons-plus-02,
.menu-item:hover .ficons-plus-02,
button:hover .ficons-plus-02 {
  background-position: -81px -72px;
}
a:hover .ficons-news,
.active .ficons-news,
.menu-item:hover .ficons-news,
button:hover .ficons-news {
  background-position: -108px -72px;
}
a:hover .ficons-group,
.active .ficons-group,
.menu-item:hover .ficons-group,
button:hover .ficons-group {
  background-position: -135px -72px;
}
a:hover .ficons-setting,
.active .ficons-setting,
.menu-item:hover .ficons-setting,
button:hover .ficons-setting {
  background-position: -166px -72px;
}
a:hover .ficons-calendar-02,
.active .ficons-calendar-02,
.menu-item:hover .ficons-calendar-02,
button:hover .ficons-calendar-02 {
  background-position: 0 -195px;
}
a:hover .ficons-search-02,
.active .ficons-search-02,
.menu-item:hover .ficons-search-02,
button:hover .ficons-search-02 {
  background-position: -37px -195px;
}
a:hover .ficons-suitcase-02,
.active .ficons-suitcase-02,
.menu-item:hover .ficons-suitcase-02,
button:hover .ficons-suitcase-02 {
  background-position: -70px -195px;
}
a:hover .ficons-star-02,
.active .ficons-star-02,
.menu-item:hover .ficons-star-02,
button:hover .ficons-star-02 {
  background-position: -109px -195px;
}
a:hover .ficons-usd-02,
.active .ficons-usd-02,
.menu-item:hover .ficons-usd-02,
button:hover .ficons-usd-02 {
  background-position: -151px -195px;
}
a:hover .ficons-experience,
.active .ficons-experience,
.menu-item:hover .ficons-experience,
button:hover .ficons-experience {
  background-position: -109px -312px;
}
a:hover .ficons-extend,
.active .ficons-extend,
.menu-item:hover .ficons-extend,
button:hover .ficons-extend {
  background-position: -187px -312px;
}
a:hover .ficons-delete,
.active .ficons-delete,
.menu-item:hover .ficons-delete,
button:hover .ficons-delete {
  background-position: -200px -71px;
}
.ficons-intro-01 {
  background-position: 0 -96px;
  height: 44px;
  width: 40px;
}
.ficons-intro-02 {
  background-position: -55px -96px;
  height: 32px;
  width: 35px;
}
.ficons-intro-03 {
  background-position: -118px -96px;
  height: 33px;
  width: 33px;
}
.ficons-intro-04 {
  background-position: -172px -96px;
  height: 50px;
  width: 36px;
}
.ficons-user-sm {
  background-position: -330px 0;
  height: 19px;
  width: 18px;
}
.ficons-mail-sm {
  background-position: -330px -38px;
  height: 15px;
  width: 18px;
}
.ficons-star-sm {
  background-position: -330px -70px;
  height: 20px;
  width: 18px;
}
.ficons-list-sm {
  background-position: -330px -108px;
  height: 22px;
  width: 18px;
}
.float-right {
  float: right;
}
.image-cicle {
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
.border-top {
  border-top: 1px solid #e9e9e9;
}
.no-border-bottom {
  border-bottom: 0 none transparent !important;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.bg-transparent {
  background-color: transparent !important;
}
.bg-white {
  background-color: #fff;
  padding: 15px;
}
.has-border {
  border: 1px solid #e9e9e9;
}
.text-link,
a.text-link {
  color: #f15000;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-regular {
  font-weight: 400 !important;
}
.text-bold {
  font-weight: 700 !important;
}
.text-uppercase {
  text-transform: uppercase;
}
.clear-right {
  clear: right;
}
.desc-orange,
a.link-orange {
  color: #f15000;
}
.desc-grey {
  color: #999;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.ml0 {
  margin-left: 0 !important;
}
.ml8 {
  margin-left: 8px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt180 {
  margin-top: 180px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.title-b-14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
}
.title-b-16 {
  font-size: 16px;
  font-weight: 7500;
  line-height: 25px;
}
.title-org-b-15 {
  color: #f15000;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}
.title-org-17 {
  color: #f15000;
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
}
.title-18 {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
.title-25 {
  font-size: 25px;
  font-weight: 400;
  line-height: 37px;
}
.title-nm-21 {
  color: #333;
  font-size: 21px;
  font-weight: 400;
  line-height: 29px;
}
.title-nm-org-27 {
  color: #f15000;
  font-size: 27px;
  font-weight: 400;
  line-height: 33px;
}
.title-nm-green-27 {
  color: #00c853;
  font-size: 27px;
  font-weight: 400;
  line-height: 33px;
}
.title-25 {
  font-size: 25px;
  font-weight: 400;
  line-height: 37px;
}
.btn-full-line-21,
a.btn-full-line-21 {
  border-color: #f15000;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #f15000;
  cursor: pointer;
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  height: 64px;
  padding: 10px 20px;
  text-align: center;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  width: 100%;
}
.btn-full-line-21:hover,
a.btn-full-line-21:hover {
  background-color: #f15000;
  border-color: #f15000;
  color: #fff;
}
.btn-line-default,
a.btn-line-default {
  background-color: #fff;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #606166;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
  min-width: 176px;
  padding: 10px 20px;
  text-align: center;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
.btn-line-default .glyphicon-plus,
a.btn-line-default .glyphicon-plus {
  color: #f15000;
}
.btn-line-default .iconsbt-left,
a.btn-line-default .iconsbt-left {
  font-size: 23px;
  font-weight: bold;
  margin-right: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -6px;
}
.btn-line-default:hover,
a.btn-line-default:hover {
  border-color: #e95218;
  color: #e95218;
}
.btn-line-default.btn-line-blue,
a.btn-line-default.btn-line-blue {
  border-color: #2979ff;
  color: #2979ff;
}
.btn-line-default.btn-line-blue:hover,
a.btn-line-default.btn-line-blue:hover {
  border-color: #003fa9;
  color: #003fa9;
}
.btn-line-default.btn-line-organge,
a.btn-line-default.btn-line-organge {
  border-color: #f15000;
  color: #f15000;
}
.btn-line-default.btn-line-organge:hover,
a.btn-line-default.btn-line-organge:hover {
  border-color: #722600;
  color: #722600;
}
.btn-upload {
  background-color: #fff;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  min-width: 148px;
  overflow: hidden;
  padding: 6px 14px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 1.42857143;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.btn-upload .ficons-upload {
  margin-right: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
}
.btn-upload .ficon-right {
  float: right;
  margin-top: 4px;
}
.btn-upload .ficons-pdf {
  margin-right: 4px;
}
.btn-upload .upload-input {
  background: transparent;
  color: transparent;
  cursor: pointer;
  font-size: 50px;
  height: 100%;
  left: 0;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.btn-upload:hover,
.btn-upload:focus {
  background-color: #f5f5f5;
  color: #333;
}
.btn-upload.btn-green {
  border-color: #00c853;
  color: #00c853;
}
.btn-org-32,
a.btn-org-32 {
  background-color: #f15000;
  border: 0 none transparent;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  height: 40px;
  padding: 4px 15px;
  min-width: 125px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.btn-org-32:hover,
a.btn-org-32:hover {
  background-color: #d24600;
  color: #fff;
}
.btn-link-color,
a.btn-org-40 {
  background-color: #f15000;
  border: 0 none transparent;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  padding: 4px 15px;
  min-width: 200px;
  text-align: center;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.btn-link-color:hover,
a.btn-org-40:hover {
  background-color: #d24600;
  color: #fff;
}
.tag-item {
  background-color: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  color: #333;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  padding: 8px 30px 8px 8px;
  position: relative;
  text-transform: uppercase;
}
.tag-item .icon-close {
  color: #f15000;
  cursor: pointer;
  margin-top: -5px;
  position: absolute;
  right: 6px;
  top: 50%;
}
.btn-link-color,
a.btn-link-color {
  background-color: #f15000;
  border: 0 none transparent;
  -webkit-border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 4px 4px 0;
  -moz-background-clip: padding;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 46px;
  line-height: 35px;
  padding: 6px 16px;
  min-width: 128px;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.btn-link-color:hover,
a.btn-link-color:hover {
  color: #fff;
}
.btn-link-color.btn-orange,
a.btn-link-color.btn-orange {
  background-color: #f15000;
}
.btn-link-color.btn-orange:hover,
a.btn-link-color.btn-orange:hover {
  background-color: #d24600;
}
.btn-link-color.btn-violet,
a.btn-link-color.btn-violet {
  background-color: #8e24aa;
}
.btn-link-color.btn-violet:hover,
a.btn-link-color.btn-violet:hover {
  background-color: #791f91;
}
.btn-link-color.btn-green,
a.btn-link-color.btn-green {
  background-color: #00c853;
}
.btn-link-color.btn-green:hover,
a.btn-link-color.btn-green:hover {
  background-color: #00a946;
}
.btn-link-color.btn-blue,
a.btn-link-color.btn-blue {
  background-color: #304ffe;
}
.btn-link-color.btn-blue:hover,
a.btn-link-color.btn-blue:hover {
  background-color: #1235fe;
}
.footer-sosical {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.footer-sosical .item {
  display: inline-block;
  margin: 0 5px;
}
.intro-signup,
.list-intro {
  list-style: none;
  margin: 0;
  padding: 0;
}
.intro-signup .item,
.list-intro .item {
  padding: 14px 0;
}
.intro-signup .intro-block,
.list-intro .intro-block {
  font-size: 15px;
  padding-left: 55px;
  position: relative;
}
.intro-signup .intro-block .title-sm,
.list-intro .intro-block .title-sm {
  font-size: 14px;
}
.intro-signup .intro-block a.title-sm:hover,
.list-intro .intro-block a.title-sm:hover {
  color: #f15000;
}
.intro-signup .intro-block .title,
.list-intro .intro-block .title {
  color: #f15000;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.intro-signup .intro-block .left-icon,
.list-intro .intro-block .left-icon {
  left: 0;
  position: absolute;
  top: 10px;
}
.intro-signup.intro-sm .item,
.list-intro.intro-sm .item {
  padding: 8px 0;
}
.intro-signup.intro-sm .intro-block,
.list-intro.intro-sm .intro-block {
  padding-left: 32px;
}
.intro-signup.intro-sm .intro-block .left-icon,
.list-intro.intro-sm .intro-block .left-icon {
  top: 0;
}
.top-nav-content {
  font-size: 0;
  list-style: none;
  margin: 0 0 -1px;
  padding: 0;
  text-align: left;
  width: 100%;
}
.top-nav-content .nav-link {
  border-bottom: 2px solid transparent;
  display: block;
  min-width: 180px;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
}
.top-nav-content .nav-link .iconsbt-left {
  margin-right: 5px;
}
.top-nav-content .active .nav-link {
  border-color: #f15000;
  color: #f15000;
}
.top-nav-content .item {
  display: inline-block;
  font-size: 13px;
}
.main-container-cus .top-nav-content {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
  width: 100%;
}
.sub-nav {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: -1px;
  width: 100%;
}
.sub-nav .top-nav-content {
  border-bottom: 0 none transparent;
  padding-top: 10px;
}
.header-title {
  border-bottom: 1px solid #e5e5e5;
  color: #999;
  font-size: 14px;
  padding: 25px 0;
}
.header-title .title-nm-21 {
  margin-bottom: 10px;
}
.media-table {
  background-color: #fff;
  border: 1px solid #ebebeb;
  color: #333;
  display: table;
  font-size: 13px;
  line-height: 19px;
  position: relative;
  table-layout: fixed;
  width: 100%;
}
.media-table .heading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}
.media-table .description-heading {
  font-size: 11px;
}
.media-table .media-row {
  display: table-cell;
  padding: 18px;
  vertical-align: middle;
}
.media-table .first-block {
  width: 12%;
}
.media-table .right-block {
  width: 20%;
}
.media-table .right-block .desc-grey {
  margin-top: 4px;
}
.media-table .w26 {
  width: 26%;
}
.media-table .w25 {
  width: 25%;
}
.media-table .w10 {
  width: 10%;
}
.media-table .w14 {
  width: 14%;
}
.media-table .line-left {
  background-color: #f26522;
  display: block;
  height: 42px;
  left: 0;
  margin-top: -21px;
  position: absolute;
  top: 50%;
  width: 2px;
}
.media-table .line-left.green-line {
  background-color: #00e676;
}
.media-table .line-left.pink-line {
  background-color: #e91e63;
}
.media-table .line-left.blue-dark-line {
  background-color: #311b92;
}
.media-table .line-left.blue-line {
  background-color: #0277bd;
}
.media-table .line-left.violet-line {
  background-color: #673ab7;
}
.media-table .line-left.orange-line {
  background-color: #f26522;
}
.media-table.search-result-tb {
  font-size: 11px;
}
.media-table.search-result-tb .heading-b {
  font-weight: 700;
  margin-bottom: 5px;
}
.media-table.search-result-tb .btn-group-lg .btn-default {
  font-size: 11px;
  height: 30px;
  padding: 6px 14px;
  text-transform: uppercase;
}
.media-table.search-result-tb .btn-group-lg .btn-default.btn-edit {
  background-color: #ffa766;
  border-color: #f59e5c;
  color: #fff;
}
.media-table.search-result-tb .btn-group-lg .btn-default:hover {
  background-color: #ff8a33;
  border-color: #f2812c;
  color: #fff;
}
.media-section {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);;
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);;
  text-align: center;
}
.media-section .image-content {
  display: block;
  margin-bottom: 18px;
}
.media-section .heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 6px;
}
.media-section .heading .txt-link {
  color: #333;
}
.media-section .heading .txt-link:hover {
  color: #f14e01;
}
.media-section .description {
  margin-bottom: 12px;
}
.media-section .main-content {
  color: #333;
  font-size: 11px;
}
.recruitment-category .item {
  padding: 10px 0;
}
.recruitment-category .media-table {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);;
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);;
}
.recruitment-category .item-media {
  margin-bottom: 20px;
  min-height: 290px;
  text-align: center;
}
.recruitment-category .media-section {
  padding: 25px 25px 20px;
}
.search-result {
  padding-bottom: 20px;
  padding-top: 16px;
}
.search-result .recruitment-category .item {
  padding: 2px 0;
}
.welcom-new-mb {
  background: url(../images/bg-cv.jpg) no-repeat center bottom #ffffff;
  background-size: cover;
  border: 1px solid #e4e4e4;
  min-height: 265px;
  padding: 30px 90px;
}
.welcom-new-mb .desc-main {
  font-size: 18px;
  margin-bottom: 12px;
  margin-top: 22px;
}
.welcom-new-mb .desc-fixwidth {
  margin: 0 auto 20px;
  width: 450px;
}
.welcom-new-mb .txt-16 {
  font-size: 16px;
  line-height: 25px;
}
.heading-content {
  padding: 40px 0 16px;
}
.heading-content .desc-heading {
  font-size: 15px;
  font-weight: 700;
}
.list-filters {
  margin: 0 -4px;
  font-size: 0;
}
.list-filters .item {
  display: inline-block;
  font-size: 14px;
  margin: 4px;
}
.pagination-right-ct {
  text-align: right;
}
/*************** left menu **********************/
.wage-levels-content .salary-scale-au {
  display: block;
  height: 34px;
  position: relative;
  width: 100%;
}
.wage-levels-content .salary-scale-au .slr-item {
  display: inline-block;
  font-size: 12px;
  height: 100%;
  line-height: 34px;
  position: absolute;
}
.wage-levels-content .salary-scale-au .v0 {
  left: 0;
}
.wage-levels-content .salary-scale-au .v1 {
  left: 10%;
}
.wage-levels-content .salary-scale-au .v2 {
  left: 25%;
}
.wage-levels-content .salary-scale-au .v3 {
  left: 40%;
}
.wage-levels-content .salary-scale-au .v4 {
  left: 55%;
}
.wage-levels-content .salary-scale-au .v5 {
  left: 70%;
}
.wage-levels-content .salary-scale-au .v6 {
  right: 0;
}
.wage-levels-content .salary-slider-container {
  margin-top: 10px;
  position: relative;
}
.wage-levels-content .salary-slider-container .noUi-handle {
  background-color: #00c853;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  height: 20px;
  position: absolute;
  top: 4px;
  width: 20px;
  z-index: 3;
}
.wage-levels-content .salary-slider-container .noUi-lowerHandle {
  left: 4px;
}
.wage-levels-content .salary-slider-container .noUi-upperHandle {
  left: 0;
}
.wage-levels-content .salary-slider-container .noUi-midBar {
  background-color: #f15000;
  height: 100%;
  width: 0;
}
.wage-levels-content .salary-slider-container .salarySlider {
  background-color: #f2f2f2;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  height: 28px;
  padding: 8px 4px;
  position: relative;
}
.menu-block {
  position: relative;
}
.menu-block .btn-menu {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  color: #333;
  display: block;
  font-size: 12px;
  height: 100px;
  padding: 20px 14px 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 20;
}
.menu-block .btn-menu .text-nav {
  display: inline-block;
  margin-top: 14px;
  width: 100%;
}
.menu-block .dropright-content {
  left: 100%;
  margin-left: -4px;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  padding-left: 4px;
  position: absolute;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  top: 0;
  z-index: -1;
}
.menu-block .dropright-content.dropright-content-bottom {
  top: auto;
  bottom: 0;
}
.menu-block .main-horz-content {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-left: 0 none transparent;
  min-height: 100px;
  min-width: 240px;
  padding: 20px 10px 20px 20px;
  width: auto;
}
.menu-block .main-horz-content.width-max {
  min-width: 486px;
}
.menu-block .main-horz-content.form-nav-content {
  max-height: 564px;
  max-width: 265px;
  padding-right: 20px;
}
.menu-block .radio-list .radio-block,
.menu-block .check-list .radio-block,
.menu-block .radio-list .check-block,
.menu-block .check-list .check-block {
  padding: 6px 0;
}
.menu-block .radio-list .radio-block .radio-style,
.menu-block .check-list .radio-block .radio-style,
.menu-block .radio-list .check-block .radio-style,
.menu-block .check-list .check-block .radio-style,
.menu-block .radio-list .radio-block .checkbox-style,
.menu-block .check-list .radio-block .checkbox-style,
.menu-block .radio-list .check-block .checkbox-style,
.menu-block .check-list .check-block .checkbox-style {
  position: absolute;
  top: 0;
  left: 0;
}
.menu-block .radio-list .radio-block .activ-org-txt,
.menu-block .check-list .radio-block .activ-org-txt,
.menu-block .radio-list .check-block .activ-org-txt,
.menu-block .check-list .check-block .activ-org-txt {
  padding-left: 26px;
  width: 100%;
}
.menu-block .desc-pp {
  font-size: 15px;
  font-weight: 700;
}
.menu-block .height-scroll {
  max-height: 190px;
  padding-right: 20px;
  width: 100%;
}
.menu-block:hover .btn-menu,
.menu-block .active .btn-menu {
  border-right-color: #fff;
  color: #f15000;
}
.menu-block:hover .dropright-content,
.menu-block .active .dropright-content {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  z-index: 12;
}
.menu-left .menu-item {
  margin-top: -1px;
}
.menu-left .nano > .nano-content {
  width: auto;
}
.thumb-business {
  font-size: 12px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.thumb-business .desc {
  color: #999;
  margin-top: 4px;
}
.thumb-business .caption {
  padding-top: 10px;
}
.section-paragrap {
  color: #333;
  font-size: 13px;
  line-height: 19px;
  padding-bottom: 15px;
  text-align: justify;
}
.section-paragrap .desc-14 {
  color: #333;
  font-size: 14px;
}
.section-paragrap .title-paragrap {
  border-bottom: 2px solid #a3a3a3;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
  padding-bottom: 8px;
}
.section-paragrap .description {
  margin-bottom: 4px;
}
.section-paragrap .content-step {
  background: url("../images/bg-line.png") no-repeat 16px 0;
  font-size: 13px;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}
.section-paragrap .content-step .title {
  color: #333;
  font-size: 14px;
}
.section-paragrap .content-step .item {
  padding: 13px 20px 13px 56px;
  position: relative;
  z-index: 2;
}
.section-paragrap .content-step .item:before {
  background-color: #58585a;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  content: "";
  height: 14px;
  left: 14px;
  position: absolute;
  top: 36px;
  width: 14px;
}
.section-paragrap .content-step:after {
  background: url("../images/bg-line-ft.png") no-repeat 16px bottom;
  bottom: 0;
  content: "";
  height: 15px;
  left: 0;
  position: absolute;
  width: 50px;
  z-index: 2;
}
.section-paragrap .paragrap-list {
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.section-paragrap .paragrap-list .item {
  padding: 2px 10px 2px 16px;
  position: relative;
}
.section-paragrap .paragrap-list .item:before {
  background-color: #9b9b9c;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  width: 11px;
}
.section-paragrap .image-list {
  font-size: 0;
  padding: 0;
  margin: 0 -5px;
  list-style: none;
  text-align: center;
}
.section-paragrap .image-list .item {
  display: inline-block;
  padding: 6px 12px;
}
.section-paragrap .image-list.image-list-ml30 {
  margin: 0 -14px;
}
.section-paragrap .image-list.image-list-ml30 .item {
  padding: 0 14px;
}
.section-paragrap .list-skill {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section-paragrap .list-skill label {
  display: inline-block;
  float: left;
  padding-right: 5px;
  width: 160px;
}
.section-paragrap .list-skill .dot-vl {
  background-color: #58585a;
  display: inline-block;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  height: 12px;
  vertical-align: middle;
  width: 12px;
}
.section-paragrap .list-skill .dot-vl.dot-grey {
  background-color: #d1d2d4;
}
.section-paragrap .list-skill .group-value {
  overflow: hidden;
}
.section-paragrap .list-skill .item {
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  padding: 2px 0;
}
.section-paragrap .certification-list {
  font-size: 13px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.section-paragrap .certification-list .title {
  color: #333;
  font-size: 14px;
}
.section-paragrap .certification-list .item {
  padding: 13px 20px 13px 56px;
  position: relative;
  z-index: 2;
}
.section-paragrap .certification-list .item:before {
  background: url("../images/bg-sprite.png") no-repeat -180px -154px;
  content: "";
  height: 44px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 34px;
}
.block-extra-business .image-center {
  border-bottom: 1px solid #f2f2f2;
  display: block;
  text-align: center;
}
.block-extra-business .block-main-ct {
  border: 1px solid #f2f2f2;
}
.block-extra-business .title-b-16 {
  margin-bottom: 5px;
}
.block-extra-business .title-b-16 .text-link {
  color: #333;
}
.block-extra-business .title-b-16 .text-link:hover {
  color: #f15000;
}
.block-extra-business .caption {
  color: #333;
  min-height: 100px;
  padding: 16px;
}
.block-extra-business .block-main-ct {
  margin-bottom: 6px;
}
.block-extra-business .desc-grey,
.block-extra-business .desc {
  font-size: 11px;
}
.list-group-cus {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  margin: 0;
  padding: 5px 20px;
  list-style: none;
}
.list-group-cus .txt-badge {
  color: #858585;
  font-size: 13px;
  font-weight: 700;
  float: right;
}
.list-group-cus .text-link {
  color: #333;
  display: block;
  font-size: 13px;
  font-weight: 700;
  padding: 20px 0;
  text-transform: uppercase;
}
.list-group-cus .text-link:before,
.list-group-cus .text-link:after {
  content: " ";
  display: table;
}
.list-group-cus .text-link:after {
  clear: both;
}
.list-group-cus .text-link:hover {
  color: #f25103;
}
.list-group-cus .item {
  border-top: 1px solid #e5e5e5;
}
.list-group-cus .item:first-child {
  border-top: 0 none transparent;
}
.list-group-cus .item.active .text-link {
  color: #f25103;
}
.profile-member-detail .heading-group .image-content {
  float: right;
  margin-left: 15px;
}
.profile-member-detail .heading-group .header-info-ct {
  overflow: hidden;
}
.profile-member-detail .heading-group .header-info-ct .modal-title {
  font-size: 30px;
}
.profile-member-detail .heading-group .header-info-ct .desc-blue {
  color: #2962ff;
  font-size: 18px;
  font-weight: 700;
}
.profile-member-detail .heading-group .contact-ct {
  max-width: 380px;
  margin-top: 25px;
}
.profile-member-detail .heading-group .contact-ct .left {
  color: #333;
  font-weight: 700;
  font-size: 13px;
  float: left;
  padding-right: 15px;
  white-space: nowrap;
}
.profile-member-detail .heading-group .contact-ct .right {
  float: right;
  margin-left: 15px;
  width: 68px;
}
.profile-member-detail .heading-group .contact-ct .center {
  overflow: hidden;
}
.profile-member-detail .heading-group .contact-ct .center .desc {
  color: #333;
  font-size: 13px;
  margin-bottom: 4px;
}
.profile-member-detail .heading-group .contact-ct .center .desc .text-link {
  color: #333;
}
.profile-member-detail .heading-group .contact-ct .center .desc .text-link:hover {
  color: #f15000;
}
.navbar {
  margin-bottom: 0;
  min-height: 0;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.22);
}
.navbar-default {
  background-color: #ffffff;
  border-radius: 0;
  border: 0;
  color: #282828;
  font-size: 14px;
  line-height: 26px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #ffffff;
  border-bottom: 1px solid #f15000;
}
.dropdown-user-hd {
  padding-top: 8px;
}
.footer {
  background-color: #575757;
  padding: 40px 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 21px;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}
.footer .left-border {
  border-left: 1px solid #676767;
  height: 100%;
}
.radio-inline {
  padding-left: 0;
}
.radio-inline + .radio-inline {
  margin-left: 15px;
}
.radio-inline,
.checkbox-inline {
  font-size: 15px;
}
.radio-style,
.checkbox-style {
  background-color: #fff;
  display: inline-block;
  height: 18px;
  margin-right: 5px;
  position: relative;
  vertical-align: top;
  width: 18px;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 1px 0px rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 1px 0px rgba(0,0,0,.3);
  box-shadow: inset 0 1px 0px rgba(0,0,0,.3);
}
.radio-style:after {
  content: '';
  background: #FFF;
  left: 50%;
  top: 50%;
  margin-top: -4px;
  margin-left: -4px;
  position: absolute;
  opacity: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
input[type="radio"]:checked ~ .radio-style,
input[type="checkbox"]:checked ~ .checkbox-style {
  background-color: #f15000;
  border: 1px solid #f15000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="radio"]:checked ~ .radio-style:after,
input[type="checkbox"]:checked ~ .checkbox-style:after {
  opacity: 1;
}
.checkbox-style {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.checkbox-style:after {
  content: "\e013";
  font-family: "Glyphicons Halflings";
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFF;
  font-size: 11px;
  line-height: 11px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.checkbox-fl .checkbox-style {
  float: left;
  margin-right: 10px;
}
.checkbox-fl .text,
.checkbox-fl .ovh {
  overflow: hidden;
}
.activ-org-txt {
  padding-left: 0;
}
.activ-org-txt input[type="radio"]:checked ~ .radio-style,
.activ-org-txt input[type="checkbox"]:checked ~ .checkbox-style {
  color: #f15000;
}
.main-form .label-tt {
  font-size: 15px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 12px;
}
.main-form .label-tt .note {
  color: #999;
  font-size: 13px;
  font-weight: 400;
}
.main-form .form-control {
  font-size: 15px;
  height: 38px;
}
.main-form .form-group {
  margin-bottom: 15px;
}
.main-form .error-mess {
  margin-top: 5px;
}
.main-form .has-error .label-tt,
.main-form .has-error .error-mess {
  color: #e50000;
}
.main-form .has-error .form-control {
  border-color: #e50000;
}
.main-form .area-text-114 {
  height: 114px;
}
.main-form .form-group-button {
  padding-top: 30px;
}
.main-form .form-group-button .btn-default {
  margin-left: 25px;
}
.main-form .datapicker-form {
  position: relative;
}
.main-form .datapicker-form .ui-datepicker-trigger {
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 2;
}
.main-form .desc-right {
  display: inline-block;
  float: right;
  margin-top: 8px;
  text-align: right;
}
.main-form .form-group-330 {
  width: 330px;
}
.main-form .tags-form {
  position: relative;
}
.main-form .tags-form .tm-input {
  padding-right: 20px;
}
.main-form .tags-form .btn-addtag {
  bottom: 0;
  color: #f15000;
  cursor: pointer;
  display: inline-block;
  height: 38px;
  padding: 12px 5px;
  position: absolute;
  right: 0;
  width: 30px;
}
.main-form .tags-form .btn-addtag .ficons-plus {
  vertical-align: top;
}
.main-form .section-form-width-sm {
  margin: 0 auto 20px;
  width: 330px;
}
.main-form .section-form-width-02 {
  margin: 0 auto 20px;
  width: 600px;
}
.main-form .btn-full {
  width: 100%;
}
.main-form.form-search-mn .input-sf {
  position: relative;
}
.main-form.form-search-mn .input-sf .form-control {
  height: 42px;
  padding: 10px 15px;
  position: relative;
  width: 320px;
}
.main-form.form-search-mn .input-sf .btn-org {
  background-color: #f15000;
  border: 0 none transparent;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  color: #fff;
  font-size: 17px;
  height: 32px;
  padding: 5px 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 35px;
}
.main-form.form-search-mn .input-sf.has-btn-right .form-control {
  padding-right: 45px;
}
.main-form.form-search-mn .radio-list .radio-block,
.main-form.form-search-mn .check-list .radio-block,
.main-form.form-search-mn .radio-list .check-block,
.main-form.form-search-mn .check-list .check-block {
  padding: 6px 0;
}
.main-form.cv-form-popup .label-tt {
  line-height: 23px;
  margin-bottom: 5px;
}
.main-form.cv-form-popup .form-group {
  margin-bottom: 10px;
}
.main-form.cv-form-popup .desc-right {
  margin-top: 0;
}
.main-form.cv-form-popup .spc-form-group .btn-upload {
  min-width: 142px;
  text-align: left;
  width: 100%;
}
.main-form.cv-form-popup .spc-form-group .btn-upload .ficons-upload-2 {
  margin-right: 10px;
  margin-top: 4px;
  vertical-align: top;
}
.main-form.search-left-nav-form .label-tt {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 8px;
}
.main-form.search-left-nav-form .form-control {
  font-size: 13px;
  height: 28px;
  padding: 2px 10px;
}
.main-form.search-left-nav-form .form-group {
  margin-bottom: 10px;
}
.main-form.search-left-nav-form .form-inline .label-small {
  color: #7a7a7a;
  display: inline-block;
  font-size: 11px;
  margin-right: 4px;
  max-width: 100%;
  text-transform: uppercase;
  vertical-align: middle;
}
.main-form.search-left-nav-form .form-inline .form-control {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
}
.save-search-form {
  border: 1px solid #dfdfdf;
  height: 360px;
}
.save-search-form .form-group-top {
  border-bottom: 1px solid #dfdfdf;
}
.save-search-form .form-group-top .form-control {
  border: 0 none transparent;
  width: 100%;
}
.save-search-form .form-group-top.tags-form {
  position: relative;
}
.save-search-form .form-group-top.tags-form .tm-input {
  padding-right: 20px;
}
.save-search-form .form-group-top.tags-form .btn-addtag {
  bottom: 0;
  color: #a6a6a6;
  cursor: pointer;
  display: inline-block;
  height: 38px;
  padding: 12px 5px;
  position: absolute;
  right: 0;
  width: 30px;
}
.save-search-form .form-group-top.tags-form .btn-addtag .ficons-plus {
  vertical-align: top;
}
.save-search-form.height-auto {
  height: auto;
}
.save-search-form .title-label {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 15px;
}
.save-search-form .form-search-mn {
  height: 275px;
  padding: 14px;
}
.save-search-form .form-search-mn .checkbox-inline {
  font-size: 13px;
  padding-left: 26px;
  position: relative;
}
.save-search-form .form-search-mn .checkbox-inline .checkbox-style {
  position: absolute;
  top: 0;
  left: 0;
}
.search-box {
  background-image: url(../images/slide.jpg);
  background-position: top center;
  background-size: 100%;
  height: 580px;
}
.search-box #brand {
  padding-top: 120px;
  padding-bottom: 20px;
}
.search-box h2 {
  color: #ffffff;
  font-weight: 300;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
}
.search-form {
  background-color: #2c2a29;
  padding: 15px 0;
}
.search-form .btn-group-lg > .btn,
.search-form .btn-lg {
  border-radius: 0;
  color: #f57c00;
  font-size: 15px;
  font-weight: 900;
  line-height: 26px;
  border: 1px solid #f57c00;
}
.form-group {
  margin-bottom: 0;
}
.form-control {
  border-radius: 0;
}
.jumbotron {
  padding: 0;
  margin-bottom: 0;
}
.form-content .title-25 {
  margin-bottom: 16px;
}
.form-content .section-form-group {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0 10px;
}
.form-content .section-form-group .title-org-17 {
  margin-bottom: 16px;
}
.form-content-padding {
  padding: 0 30px 30px;
}
.form-content-padding20 {
  padding: 0 20px;
}
.bs-example-modal-lg .header-margin {
  margin: 0 36px;
  padding-left: 0;
  padding-right: 0;
}
.bs-example-modal-lg .heading-group {
  font-size: 14px;
  margin: 30px 36px 20px;
}
.bs-example-modal-lg .heading-group .title-nm-21 {
  margin-bottom: 20px;
}
.bs-example-modal-lg .heading-group .close {
  margin-top: -20px;
  margin-right: -20px;
}
.bs-example-modal-lg .modal-body-padding {
  padding: 0 36px 20px;
}
.bs-example-modal-lg .modal-content {
  position: relative;
}
.bs-example-modal-lg .modal-lg {
  width: 935px;
}
.bs-example-modal-lg.popup-has-right .modal-lg {
  font-size: 0;
  overflow: hidden;
  margin: 30px auto;
  max-width: 1280px;
  min-width: 1040px;
  text-align: center;
  width: auto;
}
.bs-example-modal-lg.popup-has-right .modal-content {
  display: inline-block;
  font-size: 14px;
  *margin-right: .3em;
  max-width: 890px;
  padding-bottom: 60px;
  text-align: left;
  vertical-align: top;
}
.bs-example-modal-lg.popup-has-right .modal-content.profile-member-detail {
  padding-bottom: 10px;
}
.bs-example-modal-lg.popup-has-right .panel-collapse {
  display: none;
  max-width: 380px;
  overflow: hidden;
}
.bs-example-modal-lg.popup-has-right .panel-collapse.in {
  display: block;
}
.bs-example-modal-lg.popup-has-right .panel-collapse .panel-body {
  background-color: #fff;
}
.bs-example-modal-lg.popup-has-right .right-group-link {
  display: inline-block;
  font-size: 14px;
  *margin-right: .3em;
  margin-left: -2px;
  overflow: hidden;
  min-width: 140px;
  text-align: left;
  vertical-align: top;
  width: auto;
}
.bs-example-modal-lg.popup-has-right .nav-popup {
  float: left;
  overflow: hidden;
  padding-top: 30px;
}
.bs-example-modal-lg.popup-has-right .nav-popup .item {
  clear: both;
  float: left;
  overflow: hidden;
}
.bs-example-modal-lg .send-cv-popup .form-content-padding {
  padding: 0 20px 30px;
}
.bs-example-modal-lg .save-search-footer .btn-line-organge {
  float: right;
  margin-left: 25px;
}
.bs-example-modal-lg .save-search-footer .select-save {
  float: right;
  margin-left: 10px;
  margin-top: 6px;
}
.bs-example-modal-lg .save-search-footer .desc {
  overflow: hidden;
  font-size: 13px;
  margin-top: 14px;
}
.modal-w600 .modal-dialog {
  max-width: 600px;
}
.modal-w600 .close-position {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 20;
}
.dropdown .btn-clear {
  background: transparent;
  border: 0 none transparent;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
/*
 * jQuery UI Datepicker @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1.1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1em;
}
.ui-widget-content {
  border: 1px solid #d9d6c4;
  background: #eceadf url(images/ui-bg_fine-grain_10_eceadf_60x60.png) 50% 50% repeat;
  color: #1f1f1f;
}
.ui-widget-content a {
  color: #1f1f1f;
}
.ui-widget-header {
  border: 1px solid #d4d1bf;
  background: #ffffff url(images/ui-bg_fine-grain_15_ffffff_60x60.png) 50% 50% repeat;
  color: #453821;
  font-weight: bold;
}
.ui-widget-header a {
  color: #453821;
}
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 16px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
}
/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
  display: none;
  /*sorry for IE5*/
  display: block;
  /*sorry for IE5*/
  position: absolute;
  /*must have*/
  z-index: -1;
  /*must have*/
  filter: mask();
  /*must have*/
  top: -4px;
  /*must have*/
  left: -4px;
  /*must have*/
  width: 200px;
  /*must have*/
  height: 200px;
  /*must have*/
}
.pagination > li > a,
.pagination > li > span {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  margin: 0 5px;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
  background-color: #fff;
  color: #f15000;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  color: #828282;
}
.pagination > li:first-child > a:hover,
.pagination > li:first-child > span:hover,
.pagination > li:last-child > a:hover,
.pagination > li:last-child > span:hover {
  background-color: #fff;
  color: #f15000;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #f15000;
  border-color: #f15000;
  color: #fff;
}
#content {
  padding-top: 52px;
  background-color: #f5f5f5;
}
.body-content {
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
}
.construct {
  padding: 20px 0 40px;
}
.text-block h4 {
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}
.lastest-news {
  background-color: #f5f5f5;
  padding: 40px 0;
}
.lastest-news .block-head {
  padding-bottom: 40px;
}
.lastest-news .block-title {
  color: #222222;
  font-size: 24px;
  font-weight: 500;
  line-height: 18px;
  padding-bottom: 10px;
}
.lastest-news .block-description {
  color: #aeaeae;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.lastest-news .readmore {
  padding-top: 40px;
}
.news-block {
  position: relative;
}
.news-block .news-description {
  position: absolute;
  bottom: 0px;
}
.news-block .news-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
}
.news-block .news-date {
  color: #aeaeae;
  line-height: 48px;
}
.services {
  padding: 40px 0;
}
.services .title {
  color: #f15000;
  font-size: 17px;
  font-weight: 500;
}
.services .description {
  padding: 20px 0;
  height: 100px;
}
.left-content-signup-pp {
  padding: 15px 25px 20px 35px;
  position: relative;
}
.left-content-signup-pp .description-bottom {
  font-size: 15px;
  font-weight: 700;
  margin-top: 105px;
}
.left-content-signup-pp .description-bottom .text-link:hover {
  text-decoration: underline;
}
.right-content-signup-pp {
  height: 100%;
  padding: 20px 30px 30px 10px;
}
.right-content-signup-pp .form-content {
  border: 3px solid #efefef;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  padding: 30px 25px 30px;
}
.main-container-cus .container {
  background-color: #fff;
  width: 920px;
}
.recruitment-content {
  padding: 20px 15px;
}
.service-page {
  background-color: #fff;
  border-top: 1px solid #e9e9e9;
  margin-top: -1px;
}
.search-result-desc {
  font-size: 14px;
  text-align: center;
}
.search-result-desc .text-strong {
  color: #f15000;
  font-size: 19px;
  font-weight: 700;
}
.main-top-content {
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  padding: 14px 0;
  position: relative;
  z-index: 22;
}
.block-rightct {
  padding-top: 22px;
}
.block-rightct .intro-signup {
  margin-bottom: 25px;
}
.content-cols {
  display: table;
  width: 100%;
}
.content-cols .col-150 {
  display: table-cell;
  vertical-align: top;
  width: 150px;
}
.content-cols .col-150 .menu-left {
  min-width: 135px;
}
.content-cols .col-150.left-nav {
  padding-right: 15px;
}
.content-cols .col-150.right-content {
  padding-left: 15px;
}
.content-cols .col-295 {
  display: table-cell;
  vertical-align: top;
  width: 295px;
  position: relative;
  z-index: 10;
}
.content-cols .col-295 .block-rightct,
.content-cols .col-295 .menu-left {
  min-width: 280px;
}
.content-cols .col-295.left-nav {
  padding-right: 15px;
}
.content-cols .col-295.right-content {
  padding-left: 15px;
}
.content-cols .col-345 {
  display: table-cell;
  vertical-align: top;
  width: 345px;
  position: relative;
  z-index: 10;
}
.content-cols .col-345.left-nav {
  padding-right: 15px;
}
.content-cols .col-345 .w-345 {
  width: 325px;
}
.content-cols .main-col {
  display: table-cell;
  vertical-align: top;
  width: 10000px;
}
.mess-content {
  font-size: 15px;
  line-height: 21px;
  padding: 50px 65px;
}
.mess-content .desc {
  color: #333;
}
.completed-cv {
  margin: 18px 20px 18px 0;
}
.completed-cv .extra-contain {
  padding-bottom: 25px;
  padding-top: 25px;
}
